body {
    background-image: url('image/pexels-abdullah-ghatasheh-1631677.jpg');
    background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;

}

.LoginPage {

    padding: 50px 50px;

}

.LoginContanier {
    background-color: white;
    height: fit-content;
    height: 100%;
    border: 10px;
    margin-top: 5rem;
    margin: 9rem 35rem;
    width: 25%;
    margin-right: 60rem;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    justify-content: center;
    display: flex;
    background-image: linear-gradient(0deg, #afa7a7, transparent 25%);
    box-shadow: 4px 3px 8px 1px #3d3b3b;
}



.UpperText h2 {
    margin-top: -2rem;
    margin-left: -2rem;
    padding-right: 30px;
    font-size: 2rem
}

.FirstInput text {
    font-size: 13px;
    margin-left: -16px;
}

.FirstInput input {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-left: -20px;
    border: 1px solid rgb(95, 91, 91);
}

.SecondInput text {
    font-size: 13px;
    margin-left: -18px;

}

.SecondInput input {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    margin-left: -20px;
    border: 1px solid rgb(95, 91, 91);
}

.FirstInput {
    margin-top: 25px;
}

.SecondInput {
    margin-top: 20px;
}

.button {}

.button button {
    width: 110%;
    padding: 9px 25px;
    border: none;
    background-color: black;
    color: white;
    margin-left: -20px;
    border-radius: 5px;
}

.button button:hover {
    background-color: blue;
}

.button {
    margin-top: 9px;
}

.buttontext {
    padding: 20px 0px;

}

.buttontext text {
    margin-left: 135px;
    padding: 0px ;
}

.OrText {
    color: rgb(94, 92, 92);
    text-align: center;
    margin-top: 25px;
    margin-right: 20px;
}

.AllImage img {
    width: 16%;
    justify-content: space-between;
    float: left;
    padding: 0px 0px;
}

.LogoImage1 img {}

img {
    margin-left: 6px;
    /* Horizontal Space */
    margin-top: 20px;
    margin-right: 14px;
    padding: 0px 50px;

}

.SignIn text {
    font-size: 12px;

}

.SignIn {
    bottom: -10px;
    position: relative;
    margin-left: -18px;

}

.image img {}